<p id="notice"><%= notice %></p>

<h1>Sharing Box</h1>
<br>
Hey girls! Let's share what we've learned today: our insights into programming!<br><br>
Feel free to put some lines and photos from our workshop in the "Sharing Box" - sharing is caring!<br>
Great meeting you! :-) <br>
And thanks to <a href="https://twitter.com/RailsGirls_FFM">@Railsgirls_FFM</a>!<br> <br><br>


<% @ideas.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
      <div class="col-md-4">
        <%= image_tag idea.picture_url, width: '200px' if idea.picture.present?%>
        <h4><%= link_to idea.name, idea %></h4>
        <%= idea.description %>
      </div>
    <% end %>
  </div>
<% end %>
  </tbody>
</table>

<br>
